:root {
  --font: "Outfit", sans-serif;

  /* Primary color */
  --pri-soft-blue: hsl(215, 51%, 70%);
  --pri-cyan: hsl(178, 100%, 50%);

  /* Neutral color */
  --neu-main-bg: hsl(217, 54%, 11%);
  --neu-card-bg: hsl(216, 50%, 16%);
  --neu-line: hsl(215, 32%, 27%);

  /* Text */
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-lg: 1.5rem;

  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 2rem;

  --rounded-sm: 8px;
  --rounded: 16px;

  --shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font);
  color: white;
  background-color: var(--neu-main-bg);
  padding: 20px;
  flex-direction: column;
}
.main__photo {
  position: relative;
}
main {
  border-radius: var(--rounded);
  padding: var(--space-lg);
  width: 100%;
  max-width: 300px;
  background-color: var(--neu-card-bg);
}
.photo {
  max-width: 100%;
  height: auto;
  border-radius: var(--rounded-sm);
  position: relative;
}

.cover {
  background-color: hsl(178, 100%, 50%, 60%);
  background-image: url("../images/icon-view.svg");
  background-repeat: no-repeat;
  background-position: center;

  position: absolute;
  width: 100%;
  height: 98.5%;
  top: 0px;
  left: 0px;
 
  border-radius: var(--rounded-sm);
  transition: opacity .3s ease-in-out;
  opacity: 0;
}
.cover:hover {
  cursor: pointer;
  opacity: 1;
}

.headline {
  color: white;
  font-size: var(--text-lg);
}
.headline:hover {
  color: var(--pri-cyan);
  cursor: pointer;
}

.desc,
.timeleft,
.creator {
  color: var(--pri-soft-blue);
}
.price {
  position: relative;
  float: left;

  color: var(--pri-cyan);
  margin-bottom: var(--space-sm);
}
.price::before {
  content: url("../images/icon-ethereum.svg");
  vertical-align: middle;
  margin-right: var(--text-xs);
}

.timeleft {
  position: relative;
  float: right;
  margin-bottom: var(--space-sm);
}
.timeleft::before {
  content: url("../images/icon-clock.svg");
  vertical-align: middle;
  margin-right: var(--text-xs);
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
hr {
  border: none;
  border-top: 1px solid var(--pri-soft-blue);
  opacity: 0.2;
  margin-bottom: var(--space-md);
}
.creator {
  display: flex;
  align-items: center;
}
.creator__photo {
  max-width: 100%;
  width: 40px;
  height: auto;
  margin-right: var(--space-md);
  border: 1.5px solid white;
  border-radius: 50%;
}

.creator__name {
  color: white;
}
.creator__name:hover {
  color: var(--pri-cyan);
  cursor: pointer;
}

.attribution {
  margin-top: var(--space-md);
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #3e52a3;
}

/* super small screen */
@media screen and (max-width: 290px) {
  .timeleft {
    float: left;
  }
}
