@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Outfit:wght@300;400;600&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-container {
  position: relative;
  width: 340px;
  height: 590px;
  padding: 25px;
  border-radius: 10px;
  color: hsl(215, 51%, 70%);
  background-color: hsl(216, 50%, 16%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card-image {
  width: 100%;
  border-radius: 10px;
}

.card-image img:hover {
  background-color: hsl(178, 100%, 50%);
}

.card-title {
  font-size: 20px;
  margin-top: 20px;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
}

.card-description {
  font-size: 17px;
  margin-top: 20px;
  font-weight: 300;
}

/* currency infomation container */
.card-curr-info {
  display: flex;
  justify-content: space-between;
}

.card-amount,
.card-days {
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-top: 15px;
  font-weight: 600;
}

.card-amount {
  color: hsl(178, 100%, 50%);
}

.card-days {
  font-weight: 300;
}

.card-icon {
  padding: 10px 0px;
  margin-right: 7px;
}

hr {
  top: 15px;
  height: 2px;
  border: none;
  position: relative;
  background: hsl(215, 32%, 27%);
}

.card-avatar-info {
  display: flex;
  height: 40px;
  margin-top: 40px;
  align-items: center;
}

.card-avatar-image {
  width: 40px;
  height: 100%;
  border-radius: 50%;
  margin-right: 20px;
  background-image: url("./images/image-avatar.png");
  background-size: 95%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}

.card-avatar-name {
  font-size: 15px;
  font-weight: 400;
}

.card-avatar-name > span {
  color: hsl(0, 0%, 100%);
}

.attribution {
  color: hsl(0, 0%, 100%);
  font-size: 15px;
  position: absolute;
  bottom: 25px;
}